{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <h1 class="fw-bold text-primary mb-4">Perfil</h1>
    
    <div class="card shadow-sm">
        <div class="card-body">
            {% if current_user.profile_photo %}
            <img src="{{ url_for('static', filename=current_user.profile_photo) }}" alt="Foto de Perfil" class="rounded-circle mb-3" style="width: 150px; height: 150px; object-fit: cover;">
            {% else %}
            <i class="bi bi-person-circle display-1 mb-3"></i>
            {% endif %}
            <h5>{{ current_user.name }}</h5>
            <p class="text-muted">{{ current_user.email }}</p>
            <p>Data de Nascimento: {{ current_user.birth_date.strftime('%d/%m/%Y') if current_user.birth_date else 'Não informado' }}</p>
            <p>Data de Batismo: {{ current_user.baptism_date.strftime('%d/%m/%Y') if current_user.baptism_date else 'Não informado' }}</p>
            <p>Data de Conversão: {{ current_user.conversion_date.strftime('%d/%m/%Y') if current_user.conversion_date else 'Não informado' }}</p>
            <p>Gênero: {{ current_user.gender or 'Não informado' }}</p>
            <p>Estado Civil: {{ current_user.marital_status or 'Não informado' }}</p>
            {% if current_user.marital_status == 'Casado(a)' %}
            <p>Cônjuge: {{ current_user.spouse_name or 'Não informado' }}</p>
            {% endif %}
            <p>Documentos: {{ current_user.documents or 'Não informado' }}</p>
            <p>Endereço: {{ current_user.address or 'Não informado' }}</p>
            <p>Telefone: {{ current_user.phone or 'Não informado' }}</p>
            <p>Congregação: {{ current_user.church.name if current_user.church else 'Não associado' }}</p>
            <p>Cargo: {{ current_user.church_role.name if current_user.church_role else 'Nenhum' }}</p>
            <p>Status: {{ current_user.status|capitalize }}</p>
            
            <a href="{{ url_for('members.edit_profile') }}" class="btn btn-primary mt-3">Editar Perfil</a>
            <a href="{{ url_for('auth.change_password') }}" class="btn btn-secondary mt-3">Alterar Senha</a>
        </div>
    </div>
</div>
{% endblock %}